
         
h1{
    display:flex;
    justify-content:center;
}

h2{
    display:flex;
    justify-content:center;
}

img {
        width:500px;
        height:500px;
        margin-left: 10rem;
    }

nav{
        display:flex;
        justify-content: space-between;

}


li {
        display:flex;
        justify-content:center;
        align-items: left;
        padding:10px;
    }
            


